@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Bungee+Outline&family=Grenze+Gotisch&family=Rubik+Puddles&family=Stick&display=swap');

:root {
  --hue: 263;
  --saturation: 18%;

  --middleground: hsl(var(--hue), var(--saturation), 25%);
  --middleground-hover: hsl(var(--hue), var(--saturation), 28%);
  --foreground-light: hsl(var(--hue), var(--saturation), 19%);
  --foreground-dark: hsl(var(--hue), var(--saturation), 7%);
  --sky-gradient-light: hsl(var(--hue), var(--saturation), 45%);
  --sky-gradient-dark: hsl(var(--hue), var(--saturation), 20%);
  --mountain-shadow: hsl(var(--hue), var(--saturation), 21%);
  --snow-base: hsl(var(--hue), var(--saturation), 65%);
  --snow-base-dim: hsl(var(--hue), var(--saturation), 55%);
  --snow-highlight: hsl(var(--hue), var(--saturation), 85%);

  --mountain-x-shift: -7%;

  --secondary: rgb(160, 237, 60);

  --text-animation-delay: 1000ms;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--foreground-dark);
  color: white;
  font: 20px 'Comfortaa', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  /* font-family: 'Nabla', cursive; */
  /* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Black And White Picture', sans-serif; */
  /* font-family: 'Bungee Outline', cursive; */
  /* font-family: 'Grenze Gotisch', cursive; */
  /* font-family: 'Rubik Puddles', cursive; */
  /* font-family: 'Stick', sans-serif; */
}

main {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  width: 100%;
}

/* TODO Have name animate up from behind mountains */
/* TODO Have name slowly grow and shrink */
h1 {
  margin: 0;
  text-align: center;
  font: 72px 'Silkscreen', sans-serif;
  position: absolute;
  justify-content: center;
  display: flex;
  width: 100%;
  top: 12%;
  z-index: 1;
}

h1 span {
  animation: 1s cubic-bezier(0,.68,.19,1) 0s 1 slide-up-letters forwards;
  text-shadow: 0px 0px 0 var(--mountain-shadow);
  display: inline-block;
  margin-top: 65vh;
}

h1 span:nth-child(1) {
  animation-delay: calc(var(--text-animation-delay) + 100ms);
}
h1 span:nth-child(2) {
  animation-delay: calc(var(--text-animation-delay) + 150ms);
}
h1 span:nth-child(3) {
  animation-delay: calc(var(--text-animation-delay) + 125ms);
}
h1 span:nth-child(4) {
  animation-delay: calc(var(--text-animation-delay) + 150ms);
}
h1 span:nth-child(5) {
  animation-delay: calc(var(--text-animation-delay) + 325ms);
}
h1 span:nth-child(6) {
  animation-delay: calc(var(--text-animation-delay) + 300ms);
}
h1 span:nth-child(7) {
  animation-delay: calc(var(--text-animation-delay) + 400ms);
}
h1 span:nth-child(8) {
  animation-delay: calc(var(--text-animation-delay) + 550ms);
}

@keyframes slide-up-letters {
  0% {
    margin-top: 65vh;
    text-shadow: 0px 0px 0 var(--mountain-shadow);
  }
  50% {
    text-shadow: 0px 0px 0 var(--mountain-shadow);
  }
  100% {
    margin-top: 0;
    text-shadow: 7px 7px 0 var(--mountain-shadow);
  }
}

.spacer {
  width: 30px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

section {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: calc(12% + 135px);
  animation: 1s cubic-bezier(0,.68,.19,1) 2250ms 1 fade-in forwards;
  opacity: 0;
  z-index: 10;
}

.pill {
  background: var(--sky-gradient-dark);
  text-shadow: 2px 2px 0 var(--mountain-shadow);
  padding: 10px 17px;
  border-radius: 5px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wave {
  margin-right: 3px;
}

a,
a:visited {
  color: var(--secondary);
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: transform 0.05s;
}
a:hover {
  transform: rotate(2deg);
}
a::after {
  background-color: var(--secondary);
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.foreground-1 {
  background: var(--middleground);
  position: absolute;
  top: 65%;
  height: 50vh;
  width: 100%;
  z-index: 100;
}

.foreground-2 {
  background: radial-gradient(ellipse at top, var(--foreground-light) 0, var(--foreground-dark) 100%);
  position: absolute;
  bottom: 0;
  height: 30vh;
  width: 100%;
  z-index: 101;
}

.background {
  background: radial-gradient(ellipse at bottom, var(--sky-gradient-light) 0, var(--sky-gradient-dark) 100%);
  height: 65vh;
  width: 100%;
}

.mountains {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vw;
  max-height: 500px;
  width: 100%;
  max-width: 500px;
  z-index: 5;
}

.mountain {
  animation: 1s cubic-bezier(0,.68,.19,1) 0s 1 slide-up-mountains forwards;
  background: var(--middleground);
  box-shadow: 0px 0px 0 var(--mountain-shadow);
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 5;
  transition: background .2s;
}
.mountain:hover {
  background: var(--middleground-hover);
}

@keyframes slide-up-mountains {
  0% {
    box-shadow: 0px 0px 0 var(--mountain-shadow);
    top: 100%;
  }
  25% {
    box-shadow: 0px 0px 0 var(--mountain-shadow);
  }
  100% {
    box-shadow: 10px -10px 0 var(--mountain-shadow);
    top: 50%;
  }
}

.mountain-center {
  height: 45%;
  width: 45%;
  transform: translate(calc(-50% + var(--mountain-x-shift)), -45%) rotate(45deg) skew(10deg, 10deg);
  animation-delay: 100ms;
}

.mountain-center div {
  background: var(--snow-base);
  box-shadow: 0 10px 0 var(--snow-highlight);
  height: 25%;
  width: 25%;
  transform: translate(-50%, -50%) rotate(20deg);
}

.mountain-left-1 {
  height: 30%;
  width: 30%;
  transform: translate(calc(-150% + var(--mountain-x-shift)), -37%) rotate(45deg) skew(2deg, 2deg);
  animation-delay: 400ms;
}

.mountain-left-1 div {
  background: var(--snow-base-dim);
  height: 28%;
  width: 28%;
  transform: translate(-50%, -50%) rotate(20deg);
}

.mountain-right-1 {
  height: 30%;
  width: 30%;
  transform: translate(calc(20% + var(--mountain-x-shift)), -45%) rotate(45deg) skew(5deg, 5deg);
  animation-delay: 200ms;
}
.mountain-right-1 div {
  background: var(--snow-base-dim);
  height: 28%;
  width: 28%;
  transform: translate(-50%, -50%) rotate(-15deg);
}

.mountain-right-2 {
  height: 10%;
  width: 10%;
  transform: translate(calc(380% + var(--mountain-x-shift)), -45%) rotate(45deg) skew(5deg, 5deg);
  z-index: 3;
  animation-delay: 500ms;
}
